<html>
<head>
<title>RoR Biz Search Demo</title>
<style type="text/css">
body {
  font-family:Arial; 
  text-align:center
}
</style>
</head>
<h1 style="font-family:Arial Black">Welcome to my rinky-dink RoR biz search demo!</h1>
Try to ignore how ugly this page is...
<h3 style="font-family:Arial Black">Enter your biz search below!</h3>
<p>
<table style="border:0; margin-left:auto; margin-right:auto">
  <form action="/biz" method="post">
  <tr>
    <td><%= label_tag 'city' %>
    </td>
    <td><%= text_field_tag 'city' %>
    </td>
  </tr>
  <tr>    
    <td><%= label_tag 'state' %>
    </td>
    <td><%= text_field_tag 'state' %> 
    </td>
  </tr>
  <tr>
    <td><%= label_tag 'business' %>
    </td>
    <td><%= text_field_tag 'business' %>
    </td>
  </tr>
</table>
    <%= submit_tag 'Search' %>
  </form>
<p>
<% if @result != nil %>
<p><%= @result[:name] %>
<p><%= @result[:location] %>
<p><%= @result[:phone] %>
<% end %>
<p>
Debug:
<p>
form submitted: <%= params[:commit] != nil %>
<p>
<%= params.inspect %>
</body>
</html>
